.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.bg-video {
  width: 100%;
  height: auto;
  left: 0px;
  top: 0px;
  z-index: -1;
  vertical-align: bottom;
  display: block;
  position: absolute;
}

.v1 {
  width: 100%;
  height: auto;
}
