
.normal {
  font-family: Georgia, sans-serif;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
  background: darkslateblue;
  padding: .6em 0;
  color: white;
  margin: 0;
}

.layout{

}
.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
